/debug
/target
Cargo.lock

uv.lock

**/*.rs.bk
*.pdb
**/.DS_Store

**/.venv/
**/__pycache__/
**/.ruff_cache/

/.vscode/

/tla+/**/states/
/tla+/**/*.out
/tla+/**/*.old

/results/
/backups/

/scripts/setup/sshkey_id_rsa*
