[workspace]
members = [
    "summerset_server",
    "summerset_client",
    "summerset_bench",
]

[package]
name = "summerset"
description = "Distributed KV-store for SMR Protocol Research Purposes"
version = "0.1.0"
edition = "2021"
authors = ["Guanzhou Jose Hu <huguanzhou123@gmail.com>"]

[dependencies]
async-trait = "0.1"
fixedbitset = "0.4"
flashmap = "0.1"
tokio = { version = "1.27", features = ["full"] }
rand = "0.8"
rmp-serde = "1.1"
serde = { version = "1.0", features = ["derive"] }
toml = { version = "0.7", features = ["parse"] }
log = "0.4"

[dev-dependencies]
tokio-test = "0.4"
