name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Add rust stable toolchain with clippy
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy

    - name: Get apt dependencies
      run: sudo apt-get install -y protobuf-compiler

    - name: Build
      run: cargo build --workspace --verbose --all-targets

    - name: Clippy check
      run: cargo clippy --workspace --verbose --all-targets -- -D warnings
