name: Format

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Add rust nightly toolchain with rustfmt
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt

    - name: Format check (Rust)
      run: cargo +nightly fmt --all -- --check

    - name: Format check (Python)
      uses: psf/black@stable
