name: Unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests_unit:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run all unit tests
      run: cargo test --workspace --verbose --lib --bins
