name: Unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests_unit:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Add rust stable toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Get apt dependencies
      run: sudo apt-get install -y protobuf-compiler

    - name: Run all unit tests
      run: cargo test --workspace --verbose --lib --bins
