name: Proc tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests_proc:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Get apt dependencies
      run: sudo apt-get install -y protobuf-compiler

    - name: Add rust stable toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Get pip dependencies
      run: pip3 install toml

    - name: Run proc tests (MultiPaxos)
      run: python3 .github/workflow_test.py -p MultiPaxos

    - name: Run proc tests (Raft)
      run: python3 .github/workflow_test.py -p Raft
